.rectangle {
  width: 40px;
  height: 40px;
  border: 1px solid green;
  background-color: green;
}

.rectangle-active {
  width: 40px;
  height: 40px;
  border: 4px solid #3e99ed;
  background-color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
}
.box-selected {
  border-style: solid;
  border-color: #3e99ed;
  box-sizing: border-box;
}
.box-not-selected {
  border: none;
}
